<div class="profileContent">
  <div class="profileContent__avatar{{#unless name}} profileContent__avatar--big-margin{{/unless}}">
    {{#if changeAvatar}}
      <button class="profileContent__change-avatar" type="button">
        {{ component 'avatar' components}}
        <div class="profileContent__avatar-overlay"></div>
        <div class="profileContent__change-avatar-text">Поменять аватар</div>
      </button>
    {{else}}
      {{ component 'avatar' components}}
    {{/if}}
  </div>
  {{#if name}}
    <div class="profileContent__name">{{name}}</div>
  {{/if}}
  <div class="profileContent__info">
    {{#if edit}}
      {{component 'editInfo' components}}
    {{else}}
      {{component 'info' components}}
    {{/if}}
  </div>
</div>
