<div class="tab{{#if active}} active{{/if}}">
  {{#if active}}
    <div class="tab__link">
      {{#if avatar}}
        {{component 'avatar' components}}
      {{else}}
        <img  class="tab__icon" src={{icon}}>
      {{/if}}
    </div>
  {{else}}
    <a class="tab__link" href={{link}}>
      {{#if avatar}}
        {{component 'avatar' components}}
      {{else}}
        <img class="tab__icon" src={{icon}}>
      {{/if}}
    </a>
  {{/if}}
</div>
