<div class="edit-info">
  <form
    class="edit-info__form"
    data-component-name="edit-info"
    data-redirect-url={{redirectUrl}}
  >
    <ul class="edit-info__list">
      {{#each data}}
        <li class="edit-info__item">
          <label for={{name}} class="edit-info__key">{{ruName}}</label>
          <div class="edit-info__value">
            {{#if hint}}
              <span class="edit-info__hint">{{hint}}</span>
            {{/if}}
            <input
              class="edit-info__field"
              id={{name}}
              type={{type}}
              name={{name}}
              value="{{value}}"
              data-field
              {{#if placeholder}}placeholder={{placeholder}}{{/if}}
            />
          </div>
        </li>
      {{/each}}
    </ul>
    <button class="edit-info__submit-button" type="submit">Сохранить</button>
  </form>
</div>